# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual Environment
venv/
env/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local